.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: .9;
    background-color: rgba($color: #585858, $alpha: 1.0);
    z-index: 99;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: white;
    height: min-content;
    width: 50%;
    color: var(--c-black);
}