.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    width: 100%;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab {
    align-content: center;
    text-align: center;
    border-radius: 50%;
    background-color: var(--c-foreground);
    height: 25px;
    color: var(--c-background);
    aspect-ratio: 1;
    cursor: pointer;
    transition: opacity .2s;
    &:hover {
        opacity: .7;
    }
}

.list {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.active {
    background-color: var(--c-accent);
    color: var(--c-white);
}



