.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 6px;
    height: 100%;
    animation: float-card 0.6s ease-out forwards;
    opacity: 0;
}

.image {
    border-radius: 6px;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    padding: 15px; 
    flex: 1 1 auto;
}

.title {
    margin-bottom: 6px;
}

.info {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin-bottom: 15px;
}

.green {
    color: var(--c-green);
}

.red {
    color: var(--c-red);
}

.yellow {
    color: var(--c-yellow);
}

.grey {
    color: var(--c-grey);
}

.button {
    margin-top: auto !important;
}

@keyframes float-card {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}