:root {
    --c-accent: #00aaff;
    --c-white: #ffffff;
    --c-black: #000000;
    --c-dark: #292929;
    --c-red: #df2865;
    --c-grey: #808080;
    --c-green: #298829;
    --c-yellow: rgb(194, 194, 89);

    --c-background: var(--c-white);
    --c-foreground: var(--c-dark);
    --c-hover: var(--c-red);

    --font-family: 'Manrope';

    --container-width: 1320px;
    --container-padding-x: 15px;
}

body[data-theme='dark-mode'] {
    --c-background: var(--c-dark);
    --c-foreground: var(--c-white);
}