:root {
    --c-accent: #00aaff;
    --c-white: #ffffff;
    --c-black: #000000;
    --c-grey: #808080;

    --font-family: 'Manrope';

    --container-width: 1320px;
    --container-padding-x: 15px;
}