.card {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid grey;
    max-height: 400px;
    overflow-y: scroll;
}

.title {
    margin-bottom: 6px;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.row {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 10px;
}