.card {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
}

.info {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.row {
    display: flex;
    align-items: center;
    column-gap: 10px;
}