.form {
    padding: 15px;
    border: 1px solid grey;
    border-radius: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.actions {
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin-bottom: 6px;
}