.container {
    position: relative;
    background-color: var(--c-accent);
    padding: 2px;
    border-radius: 13px;
}

.input {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 20px;

    &:focus {
        outline: none;
    }
}